*{
    margin: 0;
    padding: 0;
    user-select: none;
}

#canvas{
    background-color:#669DB3FF;
}
#powerups{
    position: absolute;
    padding: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F0F6F7FF;
    border-radius: .5em;
    border: 2px solid #669DB3FF;
    margin: .5em;
    color: #FF4F58FF;
    top:0;
    right: 0;
    filter: drop-shadow(0 0 3rem rgb(90, 90, 90));
}
#powerups > img{
    height: 70px;
    width: 70px;
}
#score{
    position: absolute;
    padding: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F0F6F7FF;
    border-radius: .5em;
    border: 2px solid #669DB3FF;
    margin: .5em;
    color: #FF4F58FF;
    filter: drop-shadow(0 0 3rem rgb(90, 90, 90));
}

#full-screen{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 32% 36% 32%;
    align-content: center;
    justify-content: center;
}

#container{
    border: 1px solid #669DB3FF;
    grid-column: 2;
    grid-row: 2;
    align-self: fill;
    justify-self: fill;
    background-color: #F0F6F7FF;

   border-radius: 3rem;
   filter: drop-shadow(0 0 3rem rgb(90, 90, 90));

   display: grid;
   grid-template-rows: 40% 20% 40%;
   justify-content: center;
}
h1 ,p{
    color: #FF4F58FF;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    justify-self: center;
}
h1{
    font-size:5rem;
}
p{
    font-size: 3rem;
}
button{
    background-color: #669DB3FF;
    border-radius: .5rem;
    padding: .3em;
    color: #F0F6F7FF;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    justify-self: center;
}
@media (max-height: 800px) {
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
    button{
        font-size: 2rem;
    }
    #score{
        font-size: 1.25em;
    }
    
}

@media (max-height: 500px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
    }
    button{
        padding:0;
        font-size: 1.5rem;
    }
    #score{
        font-size: 1em;
    }
}